.calendar-container {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.calendar-uperline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.calendar-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #FFCB05;
}

.calendar-uperline button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FFCB05;
  outline: black;
  outline-style: auto;
}

.calendar-header h2 {
  font-size: 24px;
  margin: 0;
  color: #333;
}

.calendar-table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.calendar-table th,
.calendar-table td {
  text-align: center;
  border: 1px solid #333;
  height: 40px;
  box-sizing: border-box;
  padding: 5px;
}

.calendar-table th {
  background-color: #333;
  color: black;
  background-color: #FFCB05;
}

.non-editable {
  background-color: lightgray;
}

select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: black;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-container button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #333;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  background-color: #FFCB05;
}

.button-container button:hover {
  color: #e6e6e6;
}

.values {
  color: #333;
}

.calendar-uperline button:hover {
  background-color: #eec10e;
  color: white;
}


.calendar-header.sticky {
  position: fixed;
  border-radius: 10px;
  top: 0;
  width: 85%;
  z-index: 2;
}

