.custom-dropdown {
  border: none;
  background-color: transparent;
  padding: 5px;
  font-size: 14px;
  appearance: none; /* Remove default appearance */
  -webkit-appearance: none; /* Remove default appearance for WebKit browsers */
  -moz-appearance: none; /* Remove default appearance for Mozilla browsers */
}

.custom-dropdown:focus {
  outline: none; /* Remove focus outline */
  box-shadow: none; /* Remove focus box-shadow */
}

.custom-dropdown option {
  color: black; /* Set option text color */
}
