.embody{
  margin-bottom: 50px;
}

.container {
  margin: 0 auto;
  max-width: 800px;

}

h2 {
  text-align: center;
  margin-bottom: 20px;
  
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.add {
  background-color: #4caf50;
  justify-content: center;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 50px;
  outline: black;
  outline-style: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-left: 50px;
  margin-right: 100px;
  border-radius: 50px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table td {
  text-align: center;
}

.delete,
.update {
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete {
  background-color: #FFCB05;
  color: black;
  margin-right: 10px;
  outline: black;
  outline-style: auto;
}

.update {
  background-color: #FFCB05;
  color: black;
  outline: black;
  outline-style: auto;
}

.delete:hover{
  background-color: red;
  color: white;
}

.update:hover{
  background-color: #1976d2;
  color: white;
}

.update:disabled {
  background-color: #bdbdbd;
  cursor: not-allowed;
}


.button-container button.add {
  background-color: #FFCB05;
  color: black;
  justify-content: center;
}

.button-container button.add:hover {
  background-color: #FFCB05;
  color: white;

}

.calendar-table th {
  background-color: #333;
  color: black;
  background-color: #FFCB05;

}


.calendar-table {
  border-collapse: collapse;
  border-radius: 10px;
  width: 100%;
}

.calendar-table thead th:nth-child(3){
  position: sticky;
  left: 0;
  z-index: 1;
}


.calendar-table th,
.calendar-table td {
  text-align: center;
  border: 1px solid #333;
  height: 40px;
  box-sizing: border-box;
  padding: 5px;
  min-width: 200px;
  width: 200px;
}
